<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>

    <!--
    <link href="jqueryFileTree/jqueryFileTree.css" rel="stylesheet">
    -->

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
      var require = {
        urlArgs: "bust="+new Date().getTime()
      };
    </script>
    <script data-main="scripts/main" src="scripts/require.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">webfts</a>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="leaderboard">
        <h1>Web-based data transfer service</h1>

        <p>browse and transfer your data here!</p>

        <div>
          <p>Please upload to your voms proxy certificate here:</p>
          <form class="well">
            <input type="file" class="span2" id="vomsinput" />
          </form>
        </div>
      </div>

      <div>
        <h3>Please specify your transfer source and destination:</h3>
      </div>

      <div class="row">
        <div class="span5" id="left">
          <form class="well">
            <input type="text" class="span3 location" name="source" placeholder="source">
            <button type="button" id="loadSource" class="btn load">load</button>
          </form>
          <ul class="fileList">
            <li>test</li>
          </ul>
        </div>
        <div class="span2">
          <form class="well">
            <button type="button" id="transfer" class="btn">transfer</button>
          </form>
        </div>
        <div class="span5" id="right-selector">
        </div>
      </div>

      <div class="row">
        <div class="span5" id="left-list">
          <ul class="filelist"></ul>
        </div>
        <div class="span2">
        </div>
        <div class="span5" id="right-list">
          <table class="table table-hover table-bordered filelist"></table>
        </div>
      </div>

    </div>

    <!-- Templates -->
    <script type="text/template" id="template-endpoint-select">
      <form class="well">
        <input type="text" class="span3 location" name="<%= name %>" placeholder="<%= placeholder %>" />
        <button type="button" class="btn load">load</button>
      </form>
    </script>

    <script type="text/template" id="template-file-list-item">
      <tr class="<% if (isMarked) { %>info<% } %>">
        <td>
          <a class="filelink" href="<%= remote_url %>" onclick="return false;"><%= name %></a>
        </td>
      </tr>
    </script>

      <!--<li><a class="filelink <% if (isMarked) { .info }; %>" href="<%= remote_url %>" onclick="return false;"><%= name %></a></li>-->
      <!--<li><%= name %><button class="delete">delete</button></li>-->
    <!-- Scripts -->
    <!--
    <script src="jquery-1.9.0.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="main.js"></script>
    <script src="jqueryFileTree/jqueryFileTree.js"></script>

    <script>
      jQuery('#vomsinput').on('change', handleFileSelect);
    </script>
    -->

  </body>
</html>
